@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}


.shineText {
  background: linear-gradient(90deg, #472DE3, #339AF9, #472DE3);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: SlantedGradientAni 3s linear infinite;
}

.shineBackground {
  background: linear-gradient(90deg, #472DE3, #339AF9, #472DE3);
  background-size: 200% 100%;
  -webkit-text-fill-color: white;
  animation: SlantedGradientAni 20s linear infinite;
}

@keyframes SlantedGradientAni {
  0% {
    background-position: 0 10%;
  }

  100% {
    background-position: -200% 100%;
  }
}

.floating {
  animation: float 6s ease-in-out infinite;
}

.floating[data-isOn="true"] {
  animation: floata 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(-10deg);
  }

  50% {
    transform: translateY(-10px) rotate(-10deg);
  }

  100% {
    transform: translateY(0px) rotate(-10deg);
  }
}

@keyframes floata {
  0% {
    transform: translateY(0px) rotate(10deg);
  }

  50% {
    transform: translateY(10px) rotate(10deg);
  }

  100% {
    transform: translateY(0px) rotate(10deg);
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  text-align: left;
  font-size: 16px;
  color: #4e4e4e;
}

.shadow-section {
  --tw-shadow: 0px 10px 40px rgba(19, 36, 62, .1);
  --tw-shadow-colored: 0px 10px 40px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.clean-shadow {
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px
}